<!--This is the simple modal template we use for showing the modal. All variables are passed to the modals controller by the service-->
<div class="modal-header">
    <h3>{{'ChangePassword' }}</h3>
</div>
<div class="modal-body">
    <div>
        <!--<span class="change-password-title-text">{{'ChangePasswordHeaderText' }}
        <br />
        </span>-->
        <div class="row">
            <div class="col-md-6 multipleFieldInputBox">
                <input id="oldPassword" class="auth-box-input hide-errors" type="password" placeholder="{{oldPasswordDecription}}" data-ng-model="changePasswordModel.oldPassword" />
                <input id="newPassword" password-validator class="auth-box-input hide-errors" type="password" placeholder="{{newPasswordDecription}}" data-ng-model="changePasswordModel.newPassword" />
                
                <!--password-validator="passwordRulesInfo"-->
                <input id="confirmPassword" class="auth-box-input hide-errors" type="password" placeholder="{{confirmPasswordDecription}}" data-ng-model="changePasswordModel.newPasswordConfirm" />
            </div>
            <div class="row">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <tml-button data-type="save" data-action="validateChangePassword(passwordRulesInfo)">{{'ChangePassword' }}</tml-button>
    <tml-button data-type="cancel" data-action="closeDialog()">{{'CANCEL' }}</tml-button>
</div>
