<form name="RegisterPasswordForm" novalidate class="registration-form">
    <div class="modal-header modal-header-password">
        <div>{{"CompleteRegistration" }} 
        <div class="auth-box-goback"><a ng-click="cancelRegister()" href="">X</a></div></div>
    </div>
    <div class="modal-body">
        <div class="alert alert-warning" ng-show="authReason">
            {{authReason}}
        </div>
        <div class="alert alert-error" ng-show="authError">
            {{authError}}
        </div>
        <!-- <div class="alert alert-info"></div>-->
        <div class="auth-box-header">{{"Choosepassword"|translate}}</div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div>
                    <input type="password" name="password" id="password" password-validator class="auth-box-input immediate-help" placeholder="Password" data-ng-model="user.password"
                        required><!--  data-ng-class="validation.password" ng-minlength="8" -->
                    <!--<span class="error-message" ng-show="RegisterPasswordForm.password.$error.required && RegisterPasswordForm.password.$dirty">{{"PasswordRequired" }}</span>
                    <span class="error-message" ng-show=" RegisterPasswordForm.password.$error.minlength">{{"ShortPassword" }}</span>
                    -->
                    <div class="input-help">
                        <h4>Password must meet the following requirements:</h4>
                        <ul>
                            <li ng-class="pwdHasUppercaseLetter">{{"Atleast" }}<strong>{{"UppercaseLetter" }}</strong></li>
                            <li ng-class="pwdHasLowercaseLetter">{{"Atleast" }}  <strong>{{"LowercaseLetter" }}</strong></li>
                            <li ng-class="pwdHasNumber">{{"Atleast" }} <strong>{{"Number" }}</strong></li>
                            <li ng-class="pwdHasPunctuation">{{"Atleast" }}<strong>{{"PunctuationMark" }}</strong></li>
                            <li ng-class="pwdValidLength">{{"Atleast" }}<strong>{{"PwdLength" }}</strong></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <input type="password" name="confirmPassword" id="confirmPassword" password-validator class="auth-box-input immediate-help" placeholder="Password ( as verification )" data-ng-model="user.confirmPassword" data-ng-class="validation.email" required="">
                    <!--   <span class="error-message" ng-show="RegisterPasswordForm.password.$error.required && RegisterPasswordForm.password.$dirty">{{"PasswordRequired" }}</span>
                <span class="error-message" ng-show=" RegisterPasswordForm.password.$error.minlength">{{"ShortPassword" }}</span>
        -->
                    <div class="input-help">
                        <h4>Password must meet the following requirements:</h4>
                        <ul>
                            <li ng-class="pwdHasUppercaseLetter">{{"Atleast" }}<strong>{{"UppercaseLetter" }}</strong></li>
                            <li ng-class="pwdHasLowercaseLetter">{{"Atleast" }}  <strong>{{"LowercaseLetter" }}</strong></li>
                            <li ng-class="pwdHasNumber">{{"Atleast" }} <strong>{{"Number" }}</strong></li>
                            <li ng-class="pwdHasPunctuation">{{"Atleast" }}<strong>{{"PunctuationMark" }}</strong></li>
                            <li ng-class="pwdValidLength">{{"Atleast" }}<strong>{{"PwdLength" }}</strong></li>
                        </ul>
                    </div>
                    <div class="error-message" ng-show="(RegisterPasswordForm.password.$dirty && RegisterPasswordForm.confirmPassword.$dirty) && (user.password != user.confirmPassword)">
                        <span class="error-message">{{"ConfirmPassword"|translate}}</span>
                    </div>
                </div>
                <div style="height: 100px">
                    <input type="checkbox" name="confirm" id="confirmtext" data-ng-model="user.hasAcceptedDisclaimer" />
                    {{"ConfirmText" }}
                </div>
                <div>
                    <button type="submit" ng-click="registerPassword()" ng-disabled="!user.hasAcceptedDisclaimer" class="btn btn-success float-right">Complete registration</button>
                </div>
            </div>
            <div class="col-md-6" style="height: 240px; overflow-y: auto; border: solid 1px">
                {{"DisclaimerText" }}
            </div>
        </div>


        <!--  <div class="topMarginMedium">
            <div class="row">
                <div class="col-md-12"><a href="#/login">Already registered?</a></div>
            </div>
            <div class="row">
                <div class="col-md-12"><a href="#/lostpassword">Lost your password?</a></div>
            </div>
        </div>-->
    </div>
    <div class="modal-footer">
        <!--  <button class="btn btn-primary login" ng-click="login()" ng-disabled='form.$invalid'>Sign in</button>
        <button class="btn clear" ng-click="clearForm()">Clear</button>
        <button class="btn btn-warning cancel" ng-click="cancelLogin()">Cancel</button>-->
    </div>
</form>
