.navbar-blue .navbar-inner
{
	background-color: blue;
	background-image: linear-gradient(to bottom, #800080, #800080);
	background-repeat: repeat-x;
	border-color: #252525;
}

.footer
{
	background-color: black;
	width: 100%;
	min-height: 20px;
}


.minheight
{
	margin-top: 58px;
	margin-right: 10px;
	float: right;
	width: 698px;
	min-height: 2000px;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
	-moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
	box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
	background-color: purple;
}

.item
{
	color: #666;
	background: #333;
	line-height: 300px; /* Align the text vertically center. */
	font-size: 52px;
	text-align: center;
	font-family: "trebuchet ms" , sans-serif;
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
}

.carousel-control
{
	top: 50%;
}


.bs-example
{
	margin: 20px;
}

.hero-unit
{
	height: 600px;
	background-image: url('http://localhost:2930/PropertyMaintananceUI/Images/download (5).jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}
.carousel-inner > .item > img
{
	position: absolute;
	margin-top: 0px;
	background-size: cover;
	top: 0;
	left: 0;
	min-width: 80%;
	width: 100%; /* <--- Change this line to min-height */
}



.signin
{
	padding-left: 1000px;
	float: right;
	display: inline;
}
.carousel-caption
{
	max-width: 550px;
	padding: 0 20px;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
	background-color: transparent;
	font-size: 52px;
	font-family: "trebuchet ms" , sans-serif;
}
.pCarousel
{
	font-size: 20px;
	font-family: "trebuchet ms" , sans-serif;
}


.facebook
{
	background-position: -140px -115px;
}
.twitter
{
	background-position: -185px -115px;
}
.googleplus
{
	background-position: -140px -265px;
}



